* {
    font-family: Tahoma, sans-serif;
    box-sizing: border-box;
    color: indigo;
}

/*For mobile phone*/
/*Header*/
.header {
    background: black;
    border-radius: 5px;
    border: 2px solid darkgrey;
    padding: 2px;
}

div {
    padding: 5px;
}
.header .logo {
    width: 20%;
    float: left;
}

.header .logo img {
    width: 100%;
    float: left;
}

.header .banner {
    width: 80%;
    float: left;
}

.header .banner img {
    width: 100%;
    float: left;
}

.row::after {
    content: '';
    clear: both;
    display: table;
}

/*Body*/
.navigation {
    width: 100%;
    font-size: 14px;
    float: left;
    border-radius: 5px;
}

.navigation ul {
    background-color: white;
    opacity: 0.8;
    border-radius: 5px;
}

.navigation li {
    background-color: blanchedalmond;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px burlywood;
    text-align: center;
    padding: 5px;
}

.navigation a {
    color: midnightblue;
    text-decoration: none;
    font-weight: bold;
}
body .main-content {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
body .headline {
    float: left;
}
body .headline h1 {
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px slategrey;
    background-color: blanchedalmond;
    box-shadow: 2px 2px burlywood;
    color: #433142;
    padding: 5px;
    border-radius: 4px;
}
.main-content .login-part {
    float: left;
    width: 100%;
    padding-bottom: 50px;
}

.main-content .login-part .login-box {
    background-color: blanchedalmond;
    box-shadow: 5px 5px burlywood;
    width: fit-content;
    margin: auto;
    padding: 20px;
    text-align: center;
}
.footer {
    text-align: center;
}
@media only screen and (min-width: 600px) {
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }

    * {
        font-size: 15px;
    }

}

@media only screen and (min-width: 768px) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    * {
        font-size: 14px;
    }
}
